html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #004FCE;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Tempest";
  src: url("/assets/fonts/tempest/tempestapacheexpandital-webfont.woff") format("woff"),
  url("/assets/fonts/tempest/tempestapacheexpandital-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

